@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --background-color: #000000;
    --primary-color: #22D4FD
}

* {
    margin: 0;
    padding: 0;
    /* reseta padrões da página */
}


body {
    background-color: var(--background-color);
    color: #f6f6f6;
    /* height: 100vh; */
    /* Ocupa toda a altura do viewport */
    box-sizing: border-box;
    /* Não permite que elementos filhos saiam do elemento pai body */
}

.imagem__perfil  {
    border-radius: 16px;
    border: 5px solid var(--primary-color);
}

.apresentacao {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    /*se alinham a si msm no centro*/
    justify-content: space-between;
    /* se alinha de acordo com o eixo vertical */
}

.apresentacao__conteudo {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: var(--primary-color);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: #F6F6F6;
    font-size: 24px;
    font-family: 'Montserrat', sans serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
}

.apresentacao__links__link:hover {
    background-color: #272727;
    border: 5px solid var(--primary-color);
}


/* .apresentacao__links__link {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 24px;
    font-family: 'Montserrat', sans serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
} */

.rodape {
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--background-color);
}