@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #FFD369;
    --cor-hover: #393E46;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans serif;
}

* {
    margin: 0;
    padding: 0;
    /* reseta padrões da página */
}


body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    /* height: 100vh; */
    /* Ocupa toda a altura do viewport */
    box-sizing: border-box;
    /* Não permite que elementos filhos saiam do elemento pai body */
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    /*se alinham a si msm no centro*/
    justify-content: space-between;
    /* se alinha de acordo com o eixo vertical */
    gap: 82px;
}


.imagem__perfil  {
    width: 50%;
    border-radius: 16px;
    border: 5px solid var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*igual a 36px, ou seja, 36px/16px, 16px é equivalente a 1rem*/
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 50%; /*adapta com o elemento pai*/
    padding: 21px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}


/* .apresentacao__links__link {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
} */
.apresentacao__projetos {
    text-align: center;
}

.titulo__projetos {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding-bottom: 10% 0%;
}

.container__projetos {
    margin-left: auto;
    margin-right: auto;
}

.lista__projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.lista__projetos li {
    flex-basis: 400px;
    margin: 1rem;
}

.lista__projetos::after {
    content: "";
    flex-basis: 400px;
    margin: 1rem;
}

.lista__projetos li img {
    object-fit: cover; /*prenche toda caixa de conteudo (flex-basis)*/
    width: 100%;
    height: 100%;
    vertical-align: middle; /*alinha verticalmente no meio da celula*/
}

.rodape {
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

@media (max-width: 1024px) {
    .cabecalho {
        padding: 5% 0% 0% 0%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}